@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
  font-family: 'Open Sans';
}

div.container {
  margin: auto;
  width: 80%;
}

.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 1px solid #0558c5;
}

.btn {
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  margin-bottom: 5px;
}

.info {
  background-color: #0558c5;
}

.info:hover {
  background: #0b7dda;
}

.default {
  background-color: #e7e7e7; 
  color: black;
}

.default:hover {
  background: #ddd;
}

.info:disabled {
  background: #8dbee7;
}

table {
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
}
tr:nth-child(even) {
  background-color: #f7f7f7;
}

td, th {
  border: 1px solid #b3b3b3;
  text-align: left;
  padding: 6px;
}

.text-center {
  text-align: center;
}

.tooltip {
  position:relative; /* making the .tooltip span a container for the tooltip text */
}

.tooltip:before {
  content: attr(data-text); /* here's the magic */
  position:absolute;
  
  /* vertically center */
  top:50%;
  transform:translateY(-50%);
  
  /* move to right */
  right:100%;
  margin-right:5px; /* and add a small left margin */
  
  /* basic styles */
  width:100px;
  padding:5px;
  border-radius:10px;
  background:#000;
  color: #fff;
  font-size: 14px;
  text-align:center;

  display:none; /* hide by default */
}

.tooltip:hover:before {
  display:block;
}

/* The Modal (background) */
.modal {
  display: block;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 0px;
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: -5px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

div.modal-header {
  background-color: #e7e7e7;
  padding: 15px;
  margin: 0px;
}

div.modal-body {
  padding: 15px;
}

label {
  font-size: 14px;
  font-weight: bold;
}

div.alert {
  padding: 15px;
  background-color: #f44336; /* Red */
  color: white;
  font-weight: 600;
  margin-bottom: 15px;
  border-radius: 5px;
}

div.alert-success {
  background-color: #04AA6D; /* Red */
}

div.alert-error {
  background-color: #FA5447; /* Red */
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

a.icon-option {
  cursor: pointer;
}

.text-right {
  text-align: right;
}